
<div class="flex center">
  <div class="flex-auto"
    ng-repeat="track in mixer.tracks">
    {{ $index + 1 }}
    {{ track.volume.gain.value.toFixed(3) }}
    <label class="hide">Volume</label>
    <div>
      <!--
      <input type="number"
        class="field-dark"
        step="0.01"
        ng-model="track.volume.gain.value">
        -->
      <input type="range"
        min="0"
        max="1"
        step="0.001"
        class="range range-vertical"
        ng-model="track.volume.gain.value">
    </div>
  </div>
</div>
