
<div class="py2" ng-if="tracks.length">
  <div class="flex flex-center">
  </div>
  <div ng-repeat="track in tracks" class="sm-flex flex-center full-width">
    <a href ng-click="track.sampler.play()"
      style="min-width:12rem"
      class="h6 button button-nav-dark px2 py1">
      {{ $index + 1 }} {{ track.name }}
    </a>
    <div class="px2 xfull-width flex-auto">
      <div class="flex steps">
        <button
          class="step h6 step-dark"
          ng-repeat="step in track.clip.pattern track by $index"
          ng-click="track.clip.pattern[$index] = 1 - track.clip.pattern[$index]"
          ng-class="{
            'is-current': currentStep == $index,
            'is-active': step == 1
          }">
          {{ $index % 4 ? '' : $index / 4 + 1 }}
        </button>
      </div>
    </div>
  </div>
</div>

<div class="center py4" ng-if="!tracks.length">
  Loading...
</div>

